header regex is too restrictive

In hey.go, the headerRegexp only allows \w and - in the header name.
According to RFC 7230, section 3.2, a header field name can be a "token".
According to 3.2.6, a token is one or more characters in 
\w ! # $ % . & ' * + - ^ ` | ~
and possibly a few other things.



@rakyll being that you are the owner of the repo, I was curious is this begin actively monitored?  I see the last commit has been quite some time back and multiple PRs are waiting.  We are trying to understand if they will be evaluate or if forking this repo and expanding upon it is the recommended approach 